@using Microsoft.AspNet.Identity,
@using AV_FinancialPortal.Helpers,


@{
	var userNameHelper = new UserNameHelper();
}

@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		@Html.AntiForgeryToken()

		<ul class="nav navbar-nav navbar-right text-center">
			<li>
				@Html.ActionLink("Hello, " + userNameHelper.GetFirstName(User.Identity.GetUserId()) + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
			</li>
			<br />
			<li class="text-center">
				@if (User.Identity.IsAuthenticated)
				{
					<img src="@userNameHelper.GetAvatarPath()" class="b-r-10 img-100" />
				}
			</li>
			<br />
			<li><button class="btn width btn-gradient btn-air-primary"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></button></li>
		</ul>
		<hr />
	}
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
		<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
	</ul>
}
